ion-img {
    width: calc(100%-128px);

    padding: 32px;
    margin: 64px;
    border-radius: 64px;

    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 8px 4px #18181b;
}



@media (prefers-color-scheme: dark) {
    ion-img {
        filter: invert(1);
        background-color: invert(#18181b);
    }
 }